.container__flex {
  display: flex;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -7px;
}

.card-container {
  width: 100%;
  margin: 10px 7px;
  padding-bottom: 14px;
  background-color: $bgc-light-grey;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 7px) / 2);
  }

  @media screen and (min-width: 1248px) {
    width: calc((100% - 6 * 7px) / 3);
  }
}

.card-image {
  padding: 20px;
  width: 100%;

  @media screen and (min-width: 1248px) {
    min-width: 210px;
    min-height: 210px;
  }
}

.card-desc {
  margin-bottom: 55px;
  padding: 0 20px;

  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $text-color-primary;
}

.price {
  padding-left: 20px;

  font-family: $font-primary;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: $text-color-third;

  &-thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cart-icon {
  margin-right: 36px;
  color: #fff;
  width: 28px;
  height: 21px;
}

.pagination {
  display: block;
  text-align: center;
  margin-top: 32px;

  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 400;
  letter-spacing: 0.565em;
  color: $text-color-primary;

  @media screen and (min-width: 768px) {
    padding-left: 202px;
  }
}

.pagination-current {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.565em;
  color: $text-color-third;
}
