footer {
  padding-top: 50px;
  padding-bottom: 53px;
  background-color: #767676;
}

.container__space-between {
  justify-content: space-between;
}

.footer-copyright > a {
  text-decoration: none;
}

.copyright {
  display: block;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $text-color-secondary;
}

// .footer-menu {
// }

.footer-menu-link {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.86;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $text-color-secondary;
}

.company {
  display: flex;
}

.company-logo {
  width: 36px;
  height: 38px;
  margin-right: 9px;
}

.copyright__underline {
  text-decoration: underline;
}
