.menu__section {
  display: flex;
  align-items: center;

  height: 80px;
  background-color: #767676;
}

.menu__container {
  text-align: center;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__link {
  padding: 0 20px;
  font-family: $font-primary;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;

  color: $text-color-secondary;
  text-decoration: none;
}

.menu__list > li:not(:last-child) {
  border-right: 2px solid $text-color-secondary;
}

.menu__list li:last-child > a {
  padding-right: 0;
}

.menu__list li:first-child > a {
  padding-left: 0;
}
