.sidebar-list {
  width: 180px;
}

.sidebar {
  margin-right: 22px;
  width: 180px;
}

.sidebar > a {
  text-decoration: none;
}

.sidebar__item {
  font-family: $font-primary;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $text-color-primary;
}

.subcatalogue {
  margin-left: 30px;
  font-size: 14px;
  line-height: 1.57;
  list-style: disc;
}

.price-list-thumb {
  text-align: center;
}

.price-list-thumb > img {
  margin: 110px auto 0 auto;
}

.price-list {
  font-family: $font-primary;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: $text-color-third;
}
