$font-primary: 'PT Sans';
$font-secondary: 'Open Sans Condensed';

$text-color-primary: #767676;
$text-color-secondary: #fff;
$text-color-third: #444444;
$text-color-modal: #535353;

$bgc-light-grey: #dcdcdc;
$bgc-dark-grey: #767676;
