<ul class="card-list">
    {{#each this}}
    <li class="card-container">
        <img class="card-image" src="{{image}}" alt="{{description}}" width="210" />
        <p class="card-desc">{{description}}</p>
        <span class="price">{{price}}</span>
    </li>
    {{/each}}
</ul>