<ul class="card-list">
    {{#each this}}
    <li class="card-container">
        <img class="card-image" src="{{image}}" alt="{{description}}" width="210" />
        <p class="card-desc">{{description}}</p>
        <div class="price-thumb">
            <span class="price">{{price}}</span>
            <i class="material-icons cart-icon"> shopping_cart </i>
        </div>
    </li>
    {{/each}}
</ul>