<ul class="sidebar__list">
{{#each this}}
    <li class="sidebar__item">{{catalogue}}
        <ul class="subcatalogue">
        {{#each subcatalogue}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    </li>
{{/each}}
</ul>